.picture {
	width: 100%;
	height: auto;
}

.picture-middle {
	width: 100%;
	height: auto;
}

.picture-frame {
	width: 25%;
	height: auto;
}

.info-text-frame {
	width: 75%;
	height: auto;
	background-color: #ffffff;
	text-align: center;
}

.info-text {
	font-family: "Courier New", Courier, monospace;
	font-size: 3vw;
	font-weight: normal;
}

table {
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

.navbar {
	width: 100%;

}

.nav-item {
	font-size: 2vw;
	text-decoration: none;
	color: #000000;
	font-family: "Courier New", Courier, monospace;
	display: block;
	float: left;
	text-align: center;
	width: 25%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#current {
	font-weight: 600;
	background-color: #F0F0F0;
}

.nav-item:hover {
	background-color: #DCDCDC;
}

.link {
	text-decoration: none;
	color: #000000;
}

.header2 {
	width: 100%;
}

.main-photo {
	width: 100%;
	border-bottom: 1px solid black;
}

.header1 {
	border-top: 1px solid black;
	text-align: center;
	font-size: 4vw;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none;
}

.content {
	font-size: 2vw;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none;
}
